<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".GamssApplication"
        android:allowBackup="true"
        android:label="GAMSS"
        android:supportsRtl="true"
        android:theme="@style/Theme.GAMSS">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GAMSS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 디버그/검증 전용 화면. adb 로만 실행. -->
        <activity
            android:name=".debug.CardDebugActivity"
            android:exported="true"
            android:theme="@style/Theme.GAMSS" />
    </application>

</manifest>
